<h2><%= @volunteer.name %></h2>

<div class="row">
	<div class="col-md-6">
		<h3>Current Project:
			<% if @project == nil %>
				<%= "None" %>
			<% else %>
				<%= @project.name %>
			<% end %>
		</h3>
		<h3>Project Hours: <%= @volunteer.hours %></h3>
	</div>

	<div class="col-md-6">
		<form action="/update_name/<%= @volunteer.id %>" method="post">
			<label for="name">Update Volunteer's Name: </label>
			<input type="text" name="name">
			<button type="submit" name="update_name">Update Name</button>
		</form>

		<form action="/update_hours/<%= @volunteer.id %>" method="post">
			<label for="hours">Hours: </label>
			<input type="number" name="hours">
			<button type="submit" name="update_hours">Update Hours</button>
		</form>

		<form action="/update_volunteer_project/<%= @volunteer.id %>" method="post">
			<label for="project">Project: </label>
			<select name="project">
				<% @projects.each do |project|%>
					<option value="<%= project.id %>"><%= project.name %></option>
				<% end %>
			</select>
			<button type="submit" name="update_volunteer_project">Add to Project</button>
		</form>

		<form action="/delete_volunteer/<%= @volunteer.id %>" method="post">
			<button type="submit" name="delete_volunteer">Delete Volunteer</button>
		</form>
	</div>
</div>
